<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_MOCK_LOCATION"
        tools:ignore="MockLocation" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_LOCATION" />

    <application>
        <provider
            android:name="com.geoghost.internals.GeoGhostInitProvider"
            android:authorities="${applicationId}.geoghost-init"
            android:exported="false"
            android:initOrder="100" />
        <service
            android:name=".internals.GeoGhostService"
            android:exported="false"
            android:foregroundServiceType="location" />
        <activity
            android:name=".ui.GeoGhostSetupActivity"
            android:exported="false" />
    </application>
</manifest>